Repository Vonage/vivid-3, pull requests merged in 2022-05, with the labels that each got.

#377 refactor(elevation): add elevation mixins
  change/@vonage-vivid-84c7887f-5813-4b7c-9d95-385881e7c97f.json
  libs/components/src/lib/elevation/elevation.scss
  libs/components/src/lib/elevation/partials/_elevation.mixin.scss
  libs/shared/src/lib/sass/mixins/elevation/_index.scss
  libs/shared/src/lib/sass/mixins/elevation/_mixins.scss
  libs/shared/src/lib/sass/mixins/elevation/_variables.scss
Labels: Epic: Elevation

#298 refactor(layout): update readme
  apps/docs/_data/components.json
  apps/docs/assets/styles/iframe.css
  change/@vonage-vivid-064b7396-7031-4bc3-aae2-80276a6777cf.json
  libs/components/src/lib/layout/README.md
  libs/components/src/lib/layout/ui.test.ts
  libs/components/src/lib/layout/ui.test.ts-snapshots/snapshots-layout-Chrome-Stable-linux.png
  libs/components/src/lib/layout/ui.test.ts-snapshots/snapshots-layout-Desktop-Firefox-linux.png
  libs/components/src/lib/layout/ui.test.ts-snapshots/snapshots-layout-Desktop-Safari-linux.png
  package-lock.json
Labels: Type: documentation, Type: fix, Epic: Layout

#380 refactor(button): update docs
  change/@vonage-vivid-a5d3b7c5-912f-4cf2-bfab-1a119806edc2.json
  libs/components/src/lib/button/README.md
  libs/components/src/lib/button/ui.test.ts-snapshots/snapshots-button-Chrome-Stable-linux.png
  libs/components/src/lib/button/ui.test.ts-snapshots/snapshots-button-Desktop-Firefox-linux.png
  libs/components/src/lib/button/ui.test.ts-snapshots/snapshots-button-Desktop-Safari-linux.png
Labels: Type: documentation, Epic: Button

#347 refactor(fab): migrate to fast-element
  apps/docs/_data/components.json
  change/@vonage-vivid-30aa2105-d5b4-4b10-8fda-92f8fd7bf81f.json
  libs/components/src/lib/components.ts
  libs/components/src/lib/enums.ts
  libs/components/src/lib/fab/README.md
  libs/components/src/lib/fab/fab.scss
  libs/components/src/lib/fab/fab.spec.ts
  libs/components/src/lib/fab/fab.template.ts
  libs/components/src/lib/fab/fab.ts
  libs/components/src/lib/fab/index.ts
  libs/components/src/lib/fab/partials/variables.scss
  libs/components/src/lib/fab/ui.test.ts
  libs/components/src/lib/fab/ui.test.ts-snapshots/snapshots-fab-Chrome-Stable-linux.png
  libs/components/src/lib/fab/ui.test.ts-snapshots/snapshots-fab-Desktop-Firefox-linux.png
  libs/components/src/lib/fab/ui.test.ts-snapshots/snapshots-fab-Desktop-Safari-linux.png
  libs/shared/src/lib/sass/mixins/connotation/_variables.scss
Labels: Type: Component 🛠, Epic: Fab

#399 chore(popup): update floating-ui
  package-lock.json
  package.json
Labels: Epic: Popup

#401 fix(banner): docs
  change/@vonage-vivid-c91c5e32-d13d-4579-b5ca-85a69c7bfcea.json
  libs/components/src/lib/banner/README.md
Labels: Type: documentation, Type: fix, Epic: Banner

#396 refactor(docs): feature code block predefined layouts
  apps/docs/.eleventy.js
  apps/docs/_data/components.json
  apps/docs/_layouts/base.njk
  apps/docs/assets/styles/iframe.css
  apps/docs/assets/styles/main.css
  apps/docs/libraries/markdown-it-highlight.js
  apps/docs/libraries/markdown-it.js
  apps/docs/transformers/code-block-demo/index.js
  apps/docs/transformers/code-block-demo/layout.js
  apps/docs/transformers/wrap-text-elements/index.js
  change/@vonage-vivid-7eb896e0-fca2-43bb-a929-7aa71b543255.json
  libs/components/src/lib/accordion-item/README.md
  libs/components/src/lib/accordion/README.md
  libs/components/src/lib/banner/README.md
  libs/components/src/lib/card/README.md
  libs/components/src/lib/card/ui.test.ts-snapshots/snapshots-card-Chrome-Stable-linux.png
  libs/components/src/lib/card/ui.test.ts-snapshots/snapshots-card-Desktop-Firefox-linux.png
  libs/components/src/lib/card/ui.test.ts-snapshots/snapshots-card-Desktop-Safari-linux.png
  libs/components/src/lib/elevation/README.md
  libs/components/src/lib/elevation/ui.test.ts-snapshots/snapshots-elevation-Chrome-Stable-linux.png
  libs/components/src/lib/elevation/ui.test.ts-snapshots/snapshots-elevation-Desktop-Firefox-linux.png
  libs/components/src/lib/elevation/ui.test.ts-snapshots/snapshots-elevation-Desktop-Safari-linux.png
  libs/components/src/lib/layout/README.md
  libs/components/src/lib/layout/ui.test.ts-snapshots/snapshots-layout-Chrome-Stable-linux.png
  libs/components/src/lib/layout/ui.test.ts-snapshots/snapshots-layout-Desktop-Firefox-linux.png
  libs/components/src/lib/layout/ui.test.ts-snapshots/snapshots-layout-Desktop-Safari-linux.png
  libs/components/src/lib/popup/README.md
  libs/components/src/lib/progress-ring/README.md
  libs/components/src/lib/progress/README.md
  libs/components/src/lib/side-drawer/README.md
  libs/components/src/lib/tooltip/README.md
  libs/components/src/types/extract-gfm.d.ts
  libs/components/src/visual-tests/visual-tests-utils.ts
  package-lock.json
  package.json
Labels: Type: documentation, Type: CI

#421 refactor(iframe): move to js file
  apps/docs/_layouts/base.njk
  apps/docs/assets/scripts/main.js
  apps/docs/transformers/code-block-demo/index.js
Labels: Type: refactor :recycle:
