Repository Vonage/vivid-3, pull requests merged in 2022-04, with the labels that each got.

#303 fix(workspace): generator
  tools/generators/vivid-component/files/ui.test.ts__tmpl__
Labels: Type: Bug :lady_beetle:, Type: fix

#309 fix(iframe): add font to iframe
  apps/docs/_layouts/base.njk
  apps/docs/transformers/code-block-demo.js
Labels: Type: documentation, Type: fix

#295 refactor(tooltip): migrate-to-fast-element
  apps/docs/_data/components.json
  change/@vonage-vivid-3dae4bff-4588-447a-ba1f-6a09a5a35493.json
  libs/components/src/lib/components.ts
  libs/components/src/lib/tooltip/README.md
  libs/components/src/lib/tooltip/index.ts
  libs/components/src/lib/tooltip/partials/variables.scss
  libs/components/src/lib/tooltip/tooltip.scss
  libs/components/src/lib/tooltip/tooltip.spec.ts
  libs/components/src/lib/tooltip/tooltip.template.ts
  libs/components/src/lib/tooltip/tooltip.ts
  libs/components/src/lib/tooltip/ui.test.ts
  libs/components/src/lib/tooltip/ui.test.ts-snapshots/snapshots-tooltip-Chrome-Stable-linux.png
  libs/components/src/lib/tooltip/ui.test.ts-snapshots/snapshots-tooltip-Desktop-Firefox-linux.png
  libs/components/src/lib/tooltip/ui.test.ts-snapshots/snapshots-tooltip-Desktop-Safari-linux.png
Labels: Type: Component 🛠, Epic: Tooltip

#287 chore(components): migrate in calendar component
  apps/docs/_data/components.json
  change/@vonage-vivid-4f051048-93b2-40c2-840a-eb49d63485ad.json
  libs/components/src/lib/calendar/README.md
  libs/components/src/lib/calendar/calendar.scss
  libs/components/src/lib/calendar/calendar.spec.ts
  libs/components/src/lib/calendar/calendar.template.ts
  libs/components/src/lib/calendar/calendar.ts
  libs/components/src/lib/calendar/helpers/calendar.date-functions.ts
  libs/components/src/lib/calendar/helpers/calendar.event-context.ts
  libs/components/src/lib/calendar/helpers/calendar.keyboard-interactions.ts
  libs/components/src/lib/calendar/index.ts
  libs/components/src/lib/calendar/partials/_variables.scss
  libs/components/src/lib/calendar/ui.test.ts
  libs/components/src/lib/calendar/ui.test.ts-snapshots/snapshots-calendar-Chrome-Stable-linux.png
  libs/components/src/lib/calendar/ui.test.ts-snapshots/snapshots-calendar-Desktop-Firefox-linux.png
  libs/components/src/lib/calendar/ui.test.ts-snapshots/snapshots-calendar-Desktop-Safari-linux.png
  libs/components/src/lib/components.ts
  package-lock.json
  package.json
Labels: Type: Enhancement, Type: Maintenance, Type: refactor :recycle:, Epic: Calendar

#311 refactor(accordion-item): migrate-to-fast-element
  apps/docs/_data/components.json
  change/@vonage-vivid-68ec7d77-6c81-425d-90a7-864e1459a297.json
  docs/components.md
  libs/components/src/lib/accordion-item/README.md
  libs/components/src/lib/accordion-item/accordion-item.scss
  libs/components/src/lib/accordion-item/accordion-item.spec.ts
  libs/components/src/lib/accordion-item/accordion-item.template.ts
  libs/components/src/lib/accordion-item/accordion-item.ts
  libs/components/src/lib/accordion-item/index.ts
  libs/components/src/lib/accordion-item/partials/variables.scss
  libs/components/src/lib/accordion-item/ui.test.ts
  libs/components/src/lib/accordion-item/ui.test.ts-snapshots/snapshots-accordion-item-Chrome-Stable-linux.png
  libs/components/src/lib/accordion-item/ui.test.ts-snapshots/snapshots-accordion-item-Desktop-Firefox-linux.png
  libs/components/src/lib/accordion-item/ui.test.ts-snapshots/snapshots-accordion-item-Desktop-Safari-linux.png
  libs/components/src/lib/components.ts
Labels: Type: Component 🛠, Accordion

#326 refactor(accordion): migrate to fast element
  apps/docs/_data/components.json
  change/@vonage-vivid-7f882480-5a71-48ae-a710-d9baa9ec5b1a.json
  libs/components/src/lib/accordion-item/accordion-item.ts
  libs/components/src/lib/accordion/README.md
  libs/components/src/lib/accordion/accordion.scss
  libs/components/src/lib/accordion/accordion.spec.ts
  libs/components/src/lib/accordion/accordion.template.ts
  libs/components/src/lib/accordion/accordion.ts
  libs/components/src/lib/accordion/index.ts
  libs/components/src/lib/accordion/ui.test.ts
  libs/components/src/lib/accordion/ui.test.ts-snapshots/snapshots-accordion-Chrome-Stable-linux.png
  libs/components/src/lib/accordion/ui.test.ts-snapshots/snapshots-accordion-Desktop-Firefox-linux.png
  libs/components/src/lib/accordion/ui.test.ts-snapshots/snapshots-accordion-Desktop-Safari-linux.png
  libs/components/src/lib/components.ts
Labels: Type: Component 🛠, Accordion

#339 refactor(side-drawer): remove hide and show, update docs
  change/@vonage-vivid-8ce53852-c835-433d-9b24-68f6aa89190d.json
  libs/components/src/lib/side-drawer/README.md
  libs/components/src/lib/side-drawer/side-drawer.spec.ts
  libs/components/src/lib/side-drawer/side-drawer.template.ts
  libs/components/src/lib/side-drawer/side-drawer.ts
Labels: Epic: Side Drawer

#340 docs(popup and tooltip): remove hide and show
  change/@vonage-vivid-4b26286e-dbf1-46d0-a066-c092d8358747.json
  libs/components/src/lib/popup/README.md
  libs/components/src/lib/popup/popup.spec.ts
  libs/components/src/lib/popup/popup.template.ts
  libs/components/src/lib/popup/popup.ts
  libs/components/src/lib/tooltip/README.md
  libs/components/src/lib/tooltip/tooltip.spec.ts
  libs/components/src/lib/tooltip/tooltip.ts
Labels: Epic: Popup, Epic: Tooltip
